@use '@angular/material' as mat;

form {
    @include mat.form-field-overrides((
        outlined-container-shape: 15px,  
    ));

    @include mat.progress-spinner-overrides((
    active-indicator-color: #f0f0f0,
  ));
}