<section>
    <c-dropdown direction="center">    
        <button id="toggler" cDropdownToggle  [style.backgroundColor]="themeColor!.default" (mouseover)="hoverHandler($event)" (mouseout)="unHoverHandler($event)">
            +
        </button>
        
        <ul cDropdownMenu>
            <button cDropdownItem>Docs</button>
            <button cDropdownItem>To do</button>
            <button cDropdownItem>Lembrete</button>
            <button cDropdownItem>Cards</button>
        </ul>
    </c-dropdown>
</section>
    
